.create-game {
  padding-top: 20px;
  // background-color: #111;
  min-height: calc(100vh - 52px);

  .container .columns .column {
    background-color: white;

    // @media (max-width: 750px) {
    //   padding: 0 5px;
    // }
  }
}

.instructions-drop.min {
  transform: scale(0);
  display: none;
}

.instructions-drop {
  transform: scale(1);
  line-height: 1.6;

  @media (max-width: 800px) {
    padding: 0px 20px;
  }
}

.instructions-toggle {
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

.answer-head {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .answer-title {
    width: 48%;
    text-align: center;
    border-bottom: 1px black solid;
    font-size: 22px;
  }
}

.answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;

  .answer-item {
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;

    .answer-accepted {
      padding: 5px;
      background-color: #ccc;
      margin: 0 0.25em;
      border-radius: 3px;
    }
  }
}
