<div class="create-game">
  <!-- <div class="hero is-info is-bold has-text-centered">
    <div class="hero-body">
      <h3 class="title">Create Game</h3>
      <p class="content">Have a list that you want to add to this website?</p>
      <p class="subtitle">Make it</p>
    </div>
  </div> -->



  <div [ngClass]='showInstructions ? "instructions-drop": "instructions-drop min"'>
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <p class="content">Making a new game is fairly simple, each one only needs a few things: A name, a
            description,
            some instructions, and finally, a list of actual things to guess. Let's use a list of Major League
            Baseball Teams as an example of a new game.
          </p>
          <p class='content'>
            After the name and description, we have to come up with some
            instructions. In this case, we probably don't want to include the city names of teams in the answers. It
            would take too long to guess all of the teams! So in the instructions, lets put something like 'Only team
            names count towards correct answers, not the city names'.
          </p>
          <p class="content">
            Next, we have to make a list of answers that the game will contain. Each answer has two parts: a
            display-answer,
            and an acceptable-answers list. Let's take a look at the St. Louis Cardinals. We have already established
            that
            we are not looking at the city name in the instructions. The display-answer is what the player will see when
            they answer correctly, or the game ends. In this case, the display-answer is going to be 'St. Louis
            Cardinals'.
          </p>
          <p>
            The acceptable-answers list contains up to three different answers that the game will look for as correct.
            For
            the St. Louis Cardinals, we might want to have an acceptable-answers list the looks something like this:
            cardinals, cards, red birds. If a player types in any of those during the game, it would count the St. Louis
            Cardinals as having been answered correctly. Don't worry about capitalization, we make everything lowercase
            behind the scenes. Do worry about spelling and punctuation. You can even take pity on players and include
            common
            spelling mistakes in the accepted-answers list if you want. It's totally up to you!
          </p>
        </div>
      </div>
    </div>

  </div>

  <div class="instructions-toggle" (click)='toggleShowInstructions()'>
    {{showInstructions ? "Close": "Show Instructions"}}
  </div>
  <!-- Step One -->

  <div class="container">
    <div class="columns" *ngIf='showTop'>
      <div class="column is-half is-offset-one-quarter">
        <div class="field">
          <div class="control">
            <input type="text" class="input" placeholder="New Game Name..." [(ngModel)]='nameInput'>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="text" class="input" placeholder='New Game Description...' [(ngModel)]='descriptionInput'>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="text" class="input" placeholder='New Game Input Placeholder...' [(ngModel)]='placeholderInput'>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <textarea cols="30" rows="5" class="textarea" placeholder='New Game Instructions...'
              [(ngModel)]='instructionsInput'></textarea>
          </div>
        </div>
        <div class="level">
          <div class="level-item">
            <button class="button is-success" (click)='saveTop()'>Save Game Information</button>
          </div>
        </div>
      </div>

    </div>

    <!-- Step Two -->

    <div class="answer-input" *ngIf='showMid'>
      <div class="columns is-vcentered">
        <div class="column is-half is-offset-one-quarter">
          <div class="field">
            <div class="control">
              <input type="text" class="input" placeholder="Display Answer" [(ngModel)]='displayInput'>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" class="input" placeholder="Acceptable Answer 1" [(ngModel)]='accepted1'>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" class="input" placeholder="Acceptable Answer 2" [(ngModel)]='accepted2'>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" class="input" placeholder="Acceptable Answer 3" [(ngModel)]='accepted3'>
            </div>
          </div>
        </div>
        <div class="column">

        </div>

      </div>
      <div class="level">
        <div class="level-item">
          <button class="button is-warning" (click)='backTop()'>Back to Game Information</button>
        </div>
        <div class="level-item">
          <button class="button is-success" (click)='sendGame()'>Save Answers</button>
        </div>
        <div class="level-item">
          <button class="button is-info" (click)='addAnswer()'>
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="answer-holder" *ngIf='showMid'>
      <div class="answer-head">
        <div class="answer-title">Display-Answer</div>
        <div class="answer-title">Acceptable-Answers</div>
      </div>

      <div class="answer" *ngFor='let answer of newAnswersList; let i = index'>
        <div class="answer-item">{{answer.display_value}}</div>
        <div class="answer-item">
          <div class="answer-accepted" *ngFor='let accepted of answer.accepted_values'>
            {{accepted}}
          </div>
        </div>
        <div class="answer-item control-buttons">
          <button class="button is-info is-small" (click)='controlMove(true, i)'>
            <i class="fas fa-angle-up"></i>
          </button>
          <button class="button is-info is-small" (click)='controlMove(false, i)'>
            <i class="fas fa-angle-down"></i>
          </button>
          <button class="button is-success is-small" (click)='controlEdit(i)'>
            <i class="fas fa-edit"></i>
          </button>
          <button class="button is-danger is-small" (click)='controlDelete(i)'>
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>



  </div>
</div>