<bu-hero color="info" size="medium" bu-is-bold>
  <bu-hero-body>
    <bu-container>
      <h1 class="title">Type Game</h1>
      <h3 class="subtitle">60 seconds for glory</h3>
    </bu-container>
  </bu-hero-body>
</bu-hero>
<bu-section>
  <bu-container>
    <bu-columns>
      <bu-column>
        <bu-notification color='dark'>
          <h3 class='has-text-centered'>NFL Teams</h3>
        </bu-notification>
      </bu-column>
      <bu-column>
        <bu-notification color='link'>
          <h3 class='has-text-centered'>MLB Teams</h3>
        </bu-notification>
      </bu-column>
      <bu-column>
        <bu-notification color='primary'>
          <h3 class='has-text-centered'>NHL Teams</h3>
        </bu-notification>
      </bu-column>
      <bu-column>
        <bu-notification color='success'>
          <h3 class='has-text-centered'>NBA Teams</h3>
        </bu-notification>
      </bu-column>
    </bu-columns>
  </bu-container>
</bu-section>