<div class="modal" #loginModal>
  <div class="modal-background" (click)='closeModal()'></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Successful Signup!</p>
    </header>
    <section class="modal-card-body">
      <h1 class="title">Congratulations!</h1>
      <p class="content">You have Successfully signed up here at Time Score. The only step left is to login to your
        account. Your account information is saved in your browser for 1 week at a time. Have fun!</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)='closeModal()'>Close</button>
      <button class="modal-close is-large" aria-label="close" (click)='closeModal()'></button>
    </footer>
  </div>
</div>
<app-loader *ngIf='loading'></app-loader>

<div [ngClass]='login ? "hero is-info is-small" : "hero is-success is-small"'>
  <div class='hero-body has-text-centered'>
    <h1 class="title">{{login ? "Login":"Sign Up"}}</h1>
  </div>
</div>
<div class="container">
  <div class="columns pt-2">
    <div class="column is-half is-offset-one-quarter">

      <div class="field" *ngIf='!login'>
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" placeholder="Username..." [(ngModel)]='username'
            (input)='usernameValidate()'>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <p [ngClass]='usernameValid ? "help is-success":"help is-danger"'>Username must be at
            least 6 characters long</p>
        </div>
      </div>

      <div class='field'>
        <label for="email" class="label">Email</label>
        <div class="control has-icons-left">
          <input type="text" class="input" placeholder="Email..." [(ngModel)]='email' (input)='emailValidate()'>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <p [ngClass]='emailValid ? "help is-success":"help is-danger"'>Must be a valid email
            address</p>
        </div>
      </div>

      <div class="field">
        <label for="password1" class="label">Password</label>
        <div class="control has-icons-left">
          <input type="password" class='input' placeholder='Password' [(ngModel)]='password1'
            (input)='password1Validate()'>
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
          <p [ngClass]='passwordLength ? "help is-success":"help is-danger"'>Password must be at least 6 characters long
          </p>
          <p [ngClass]='passwordNumber ? "help is-success":"help is-danger"'>Password must contain at least one number
          </p>
          <p [ngClass]='passwordCapital ? "help is-success":"help is-danger"'>Password must contain at least one capital
            letter</p>
        </div>
      </div>

      <div class="field" *ngIf='!login'>
        <label for="password2" class="label">Confirm Password</label>
        <div class="control has-icons-left">
          <input type="password" class='input' placeholder='Confirm Password' [(ngModel)]='password2'
            (input)='password2Validate()'>
          <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
          </span>
          <p [ngClass]='passwordMatch ? "help is-success":"help is-danger"'>Passwords must match</p>
        </div>
      </div>
      <div class="level">
        <div class="level-left">
          <button class="button level-item is-success" (click)='submitForm()'>Submit</button>
        </div>
        <div class="level-right">
          <button class="button level-item is-link is-inverted" (click)='switchForms()'>
            {{login ? "Need to Sign Up?": "Already Signed Up?"}}
          </button>
        </div>
      </div>

    </div>
  </div>
</div>