.list-bg {
  min-height: calc(100vh - 52px);
  background-color: #111;
  transition: background-color 5s;
}

.seeThrough {
  background-color: rgba(255, 255, 255, 0.158);
}

.showMe {
  color: white;
}

.newBG1 {
  background-color: rgb(9, 5, 39);
}

.newBG2 {
  background-color: rgb(5, 39, 20);
}

.newBG3 {
  background-color: rgb(41, 0, 0);
}

.games-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 700px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.game-item {
  width: 100%;
  background-color: white;
  display: grid;
  place-items: center center;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.game-item.one {
  background-color: #3273dc;
}
.game-item.two {
  background-color: #f14668;
}
.game-item.three {
  background-color: #48c774;
}
