<div *ngIf='!selected else gameArea'>
  <app-loader *ngIf='loading'></app-loader>
  <div #listbg class="list-bg">

    <div class="hero is-small is-transparent seeThrough">
      <div class='hero-body'>
        <h1 class="title has-text-centered showMe">Games List</h1>
      </div>
    </div>


    <div class="container">
      <div class="games-container">
        <div *ngFor='let game of gamesArray; let i = index' [ngClass]="setClasses(i)" (click)='selectGame(game._id)'>
          {{game.name}}</div>
      </div>
    </div>
  </div>

</div>

<!-- <ng-template #gameArea>
  <app-game-page [gameTitle]='selectedGame' [gameId]='selectedGameId' (back)='returnFromGame()'></app-game-page>
</ng-template> -->