<div *ngIf='!selected else gameInfo'>
  <app-loader *ngIf='loading'></app-loader>
  <div #listbg class="list-bg">

    <div class="hero is-small is-transparent seeThrough">
      <div class='hero-body'>
        <h1 class="title has-text-centered showMe">Games List</h1>
      </div>
    </div>


    <div class="container">
      <div class="games-container">
        <div *ngFor='let game of gamesArray; let i = index' [ngClass]="setClasses(i)"
          (click)='selectGame(game.name, game._id, game.instructions, game.description)'>
          {{game.name}}</div>
      </div>
    </div>
  </div>

</div>

<ng-template #gameInfo>
  <app-game-description [gameTitle]='selectedGameTitle' [gameId]='selectedGameId'
    [gameInstructions]='selectedGameInstructions' [gameDescription]='selectedGameDescription'
    (backList)='returnFromInfo()'>
  </app-game-description>
</ng-template>