.answer {
  display: grid;
  grid-template-columns: auto 1fr 150px;
  align-items: center;

  .info {
    display: flex;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    justify-content: flex-end;

    .accepted-items {
      padding: 0 10px;
    }
  }
}

.button-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answer-container {
  display: grid;
  grid-template-columns: 300px auto;
  column-gap: 20px;
  max-width: 1000px;
  margin: 1em auto;
}

.left-side {
  padding: 8px 0;
}
